job-scheduling/.vscode/*
job-scheduling/bin/*
job-scheduling/obj/*

minimum-spanning-trees/.vscode/*
minimum-spanning-trees/bin/*
minimum-spanning-trees/obj/*

clustering/.vscode/*
clustering/bin/*
clustering/obj/*

*.cache
*.dll
*.exe
*.pdb
